@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --textColor: #2d3436;
  --headColor: #2d3436;
  --headerColor: #fafafa;
  --menu-color: #fff;
  --navMenuSticky: #636e72;
  --themeColor: #636e72;
}
/* Reset Stytes */
a {
  text-decoration: none;
}

body.dark {
  background-color: #292c35;
  --textColor: #fafafa;
  --headColor: #fafafa;
  --headerColor: #2d3436;
  --logoName: #fafafa;
  --navMenuSticky: #fafafa;
}

body.dark header.sticky {
  background: #292c35;
}
/* header style */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}
header.sticky {
  padding: 10px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  background: var(--headerColor);
  transition: 0.5s;
  z-index: 11111;
}

header h1 {
  padding: 0 25px;
}
header.sticky h1 a {
  color: var(--logoName);
}
header h1 a {
  color: #fff;
}
header h1 a span {
  color: #3498db;
  margin-left: 5px;
}

/* navigation */
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  padding: 25px;
}

.navigation li a {
  color: var(--menu-color);
}

header.sticky .navigation li a {
  color: var(--navMenuSticky);
}

header.sticky .navigation li a:hover {
  color: #3498db;
}

/* header.sticky .fas {
  color: var(--themeColor);
} */

header.sticky .fa-moon {
  color: #e74c3c;
}

.navigation li a:hover {
  color: #3498db;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 3em;
  color: #fff;
}

.banner .content a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #2980b9;
  color: #fff;
  transition: 0.5s;
}

.banner .content a:hover {
  letter-spacing: 3px;
}

/* About styles */

.about {
  width: 100%;
  padding: 10% 0;
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.left .card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  overflow: hidden;
}
.card.bg {
  position: absolute;
  top: -9%;
  left: 10%;
  background-color: #34495e;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.right {
  flex: 1;
  margin-right: 2%;
}

.right .about_content h2 {
  text-transform: capitalize;
  color: var(--headColor);
}
.right .about_content h2::first-letter {
  font-size: 3.5em;
  font-weight: 300;
}

.about_content a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #2980b9;
  color: #fff;
  transition: 0.5s;
  margin-top: 3%;
}

.about_content a:hover {
  letter-spacing: 3px;
}

.about_content p {
  text-align: justify;
  line-height: 30px;
  color: var(--textColor);
}

/* Service  */

.service_container {
  margin: auto;
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.service_container .card {
  position: relative;
  width: 250px;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.service_container .card .service_content {
  z-index: 2;
  text-align: center;
  padding: 0 20px;
  transition: 0.5s;
}

.service_container .card:hover .service_content {
  color: #fff;
}

.service_container .card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.service_container .card:hover::before {
  background-color: #000;
  transform: scaleY(1.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.service_container:hover .card {
  filter: blur(5px);
  transform: scale(0.7);
}
.service_container .card:hover {
  filter: blur(0px);
  transform: scale(1);
}
.card .service_content h2::first-letter {
  font-size: 3.5em;
  font-weight: 300;
}
.card .service_content a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #2980b9;
  color: #fff;
  transition: 0.5s;
  margin-top: 10%;
}

.card .service_content i {
  font-size: 3.5em;
}

/* Dark theme 1*/

/* .fas { */
/* border: 1px solid red; */
/* color: #fff;
  font-size: 1.5rem;
  padding: 5px;
  margin-right: 2rem;
  cursor: pointer;
  transition: 0.3s;
} */

/* #theme-btn.fa-sun {
  transform: rotate(45deg);
} */

/* Light/Dark Mode 2  */
.fa-moon {
  color: #e74c3c;
}
.fa-sun {
  color: #f1c40f;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background: #111;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.ball {
  height: 22px;
  width: 22px;
  background-color: #fafafa;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

/* Toggle */
.toggle {
  position: relative;
  top: 20px;
  right: 25%;
  width: 32px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1111;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-in-out;
}

header.sticky .toggle {
  filter: invert(1);
}

body.dark .toggle {
  filter: invert(0);
}
.toggle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fafafa;
  transform: translateY(-10px);
  transition: 0.25s;
  box-shadow: 0 10px 0 #fff;
}
.toggle.active::before {
  transform: translateY(0) rotate(45deg);
  box-shadow: 0 0px 0 #fff;
}
.toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fafafa;
  transform: translateY(10px);
}
.toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}
@media (max-width: 991px) {
  header {
    padding: 15px;
  }
  .toggle {
    display: block;
  }
  .navigation {
    display: none;
  }
  .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/response_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navigation li a {
    font-size: 1.5rem;
  }
  .banner .content h2 {
    font-size: 1.5rem;
    margin-bottom: 2%;
  }
  .about {
    display: block;
  }
  .left .card {
    width: 80%;
  }
  .about_content h2 {
    text-align: center;
  }
  .about_content p {
    padding: 35px;
  }
  .about_content a {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
}
