@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --textColor: #2d3436;
  --headColor: #2d3436;
  --headerColor: #fafafa;
  --menu-color: #fff;
  --navMenuSticky: #636e72;
  --themeColor: #636e72;
}
/* Reset Stytes */
a {
  text-decoration: none;
}

body.active {
  background-color: #2d3436;
  --textColor: #fafafa;
  --headColor: #fafafa;
  --headerColor: #2d3436;
  --logoName: #fafafa;
  --navMenuSticky: #fafafa;
}

/* header style */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.sticky {
  padding: 10px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  background: var(--headerColor);
  transition: 0.5s;
  z-index: 11111;
}

header h1 {
  padding: 0 25px;
}
header.sticky h1 a {
  color: var(--logoName);
}
header h1 a {
  color: #fff;
}
header h1 a span {
  color: #3498db;
  margin-left: 5px;
}

/* navigation */
nav {
  margin: 0 30px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 25px;
}

nav ul li a {
  color: var(--menu-color);
}

header.sticky nav ul li a {
  color: var(--navMenuSticky);
}

header.sticky nav ul li a:hover {
  color: #3498db;
}

header.sticky .fas {
  color: var(--themeColor);
}

nav ul li a:hover {
  color: #3498db;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 3em;
  color: #fff;
}

.banner .content a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #2980b9;
  color: #fff;
  transition: 0.5s;
}

.banner .content a:hover {
  letter-spacing: 3px;
}

/* About styles */

.about {
  width: 100%;
  padding: 10% 0;
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.left .card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  overflow: hidden;
}
.card.bg {
  position: absolute;
  top: -9%;
  left: 10%;
  background-color: #34495e;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.right {
  flex: 1;
  margin-right: 2%;
}

.right .about_content h2 {
  text-transform: capitalize;
  color: var(--headColor);
}
.right .about_content h2::first-letter {
  font-size: 3.5em;
  font-weight: 300;
}

.about_content a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #2980b9;
  color: #fff;
  transition: 0.5s;
  margin-top: 3%;
}

.about_content a:hover {
  letter-spacing: 3px;
}

.about_content p {
  text-align: justify;
  line-height: 30px;
  color: var(--textColor);
}

/* Service  */

.service_container {
  margin: auto;
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.service_container .card {
  position: relative;
  width: 250px;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.service_container .card .service_content {
  z-index: 2;
  text-align: center;
  padding: 0 20px;
  transition: 0.5s;
}

.service_container .card:hover .service_content {
  color: #fff;
}

.service_container .card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.service_container .card:hover::before {
  background-color: #000;
  transform: scaleY(1.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.service_container:hover .card {
  filter: blur(5px);
  transform: scale(0.7);
}
.service_container .card:hover {
  filter: blur(0px);
  transform: scale(1);
}
.card .service_content h2::first-letter {
  font-size: 3.5em;
  font-weight: 300;
}
.card .service_content a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #2980b9;
  color: #fff;
  transition: 0.5s;
  margin-top: 10%;
}

.card .service_content i {
  font-size: 3.5em;
}

/* Dark theme */

.fas {
  /* border: 1px solid red; */
  color: #fff;
  font-size: 1.5rem;
  padding: 5px;
  margin-right: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

#theme-btn.fa-sun {
  transform: rotate(45deg);
}
